{% extends 'app/base.html' %}
{% load static %}
{% block title %}
<title>App seguridad</title>
{% endblock %}

{% block contenido %}

<div class="container">
    <div class="row">
        <div class="col-12 col-md-6 offset-md-3">
            <div class="card my-5 shadow-lg">
                <div class="card-body">
                    <main class="form-signin w-100 m-auto">
                        <form method="post" class="form" id="formularioLogin">
                            <img class="mb-4" src="{% static 'app/img/logo.png' %}" alt="" width="72" height="57">
                            <h1 class="h3 mb-3 fw-normal">App Seguridad</h1>
                            <h5 class="mb-3 fw-normal">Please sign in</h5>

                            {% csrf_token %}
                            {{ form.as_p }}

                            <button class="btn btn-primary w-100 py-2" type="submit">Iniciar Sesión</button>

                            <p class="mt-5 mb-3 text-body-secondary">&copy;2024 Integrantes: Danilo Morales, Nicolas Oses, Agustin Quezada</p>
                        </form>
                    </main>
                </div>
            </div>
        </div>
    </div>
</div>



{% endblock %}

{% block js %}
<!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
<script src="https://code.jquery.com/jquery-1.12.4.min.js"
  integrity="sha384-nvAa0+6Qg9clwYCGGPpDQLVpLNn0fRaROjHqs13t4Ggj3Ez50XnGQqc/r8MhnRDZ" crossorigin="anonymous"></script>
<!-- Include all compiled plugins (below), or include individual files as needed -->
<script src="https://stackpath.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"
  integrity="sha384-aJ21OjlMXNL5UyIl/XNwTMqvzeRMZH2w8c5cRVpzpU8Y5bApTppSuUkhZXN0VxHd" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/jquery-validation@1.19.0/dist/jquery.validate.js"></script>
<!-- js de validaciones -->
<script src="{% static 'app/js/validateLogin.js' %}"></script>
<!-- Encriptador -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/crypto-js/4.0.0/crypto-js.min.js"></script>
{% endblock %}